{
    "extends": "airbnb-base",
    "env": {
      "node": true,
      "browser": true
    },
    "globals": {
      "axios": true
    },
    "rules": {
      "linebreak-style": 0,
      "implicit-arrow-linebreak": 0,
      "operator-linebreak": ["error", "after", { "overrides": { "?": "before", ":": "before" } }],
      "no-use-before-define": 0,
      "no-param-reassign": 0
    }
}
