<!DOCTYPE html>
<html>

  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>
    <% include ../partials/nav.ejs %>

    <div class="jumbotron text-center">
      <div class="container">
        <h2 class="mb3">The new and not at all useful way to fill forms... meet WhatTheForms<br><small>Do it by phone, call <a href="tel:+447520632018">+447520632018</a></small></h2>
        <div class="row">
          <form class="col-sm-8 col-sm-push-2">
            <div id="answer1-wrapper" class="form-group hidden">
              <label for="answer1">1. Did you enjoyed Hackference?</label>
              <input type="text" class="form-control" id="answer1" name="answer1" />
            </div>

            <div id="answer2-wrapper" class="form-group hidden">
              <label for="answer2">2. Do you really want to continue?</label>
              <input type="text" class="form-control" id="answer2" name="answer2" />
            </div>

            <div id="answer3-wrapper" class="form-group hidden">
              <label for="answer3">3. Is Mike Elsmore a great guy?</label>
              <input type="text" class="form-control" id="answer3" name="answer3" />
            </div>

            <div id="answer4-wrapper" class="form-group hidden">
              <label for="answer4">4. Can you tell us why?</label>
              <textarea id="answer4" name="answer4" class="form-control" rows="3"></textarea>
            </div>

            <button type="submit" id="submit-feedback" class="btn btn-default hidden">Submit</button>
          </form>
        </div>
      </div>
    </div>

    <% include ../partials/footer.ejs %>
  </body>

</html>
